<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Libros</title>
</head>
<body>

    <div>
        <form action="/guardar/libro" method="post">
            <h1>Nuevo libro</h1>
            <label for="titulo">Titulo</label>
            <input type="text" name="titulo">

            <label for="num_paginas">Número de páginas</label>
            <input type="number" name="num_paginas">

            <input type="submit" value="Añadir Libro">
        </form>
    </div>

    <div>
        <h1>Todos los libros</h1>
        {% for libro in libros %}
            <p><a href="/libro/{{libro.id}}">{{libro.titulo}}</a></p>
        {% endfor %}
    </div>


</body>
</html>